@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

* {
	font-family: 'Chakra Petch', sans-serif !important;
	letter-spacing: 2px;
}

h1 {
	font-family: 'Chakra Petch', sans-serif;
}

.word-wrap {
	word-wrap: break-word;
}