@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

@import 'vuetify/_styles.scss';

$primary: rgb(87, 117, 62);
$light: rgb(245, 245, 245);

$regulard-blur: 10px;

$bg-img: url('~@/assets/blurry-gradient.svg');

* {
	font-family: 'Chakra Petch', sans-serif !important;
	letter-spacing: 2px;
}

h1 {
	font-family: 'Chakra Petch', sans-serif;
}

.word-wrap {
	word-wrap: break-word;
}

.text-decoration-none {
	text-decoration: none !important;
}

.vault {
	&:hover {
		@extend .bg-light-green-lighten-4;
	}

	@extend .bg-light-green-lighten-5;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: .4s;
	transition: .4s;

	background-color: rgb(49, 140, 224);
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #f3d421;
}

input:focus+.slider {
	box-shadow: 0 0 1px #f3d421;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

// [BG][GRADIENT] //
.bg-gradient {
	background-image: $bg-img;
}

// [BG][FROST][PRIMARY] //
.bg-primary-frost-lightest {
	background-color: mix($primary, rgba(255, 255, 255, .75), $weight: 10%);
	backdrop-filter: blur($regulard-blur) !important;
	-webkit-backdrop-filter: blur($regulard-blur) !important;
}

// [BG][FROST][LIGHT] //
.bg-light-frost {
	background-color: mix($light, rgba(255, 255, 255, .5), $weight: 50%);
	backdrop-filter: blur($regulard-blur) !important;
	-webkit-backdrop-filter: blur($regulard-blur) !important;
}
